.flex {
   display: flex;
}

.justify-center {
   justify-content: center;
}

.items-center {
   align-items: center;
}

.flex-col {
   flex-direction: column;
}

.flex-center {
   @extend .flex;
   @extend .justify-center;
   @extend .items-center;
}