.sidebar-profile {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 0.75rem;
   padding: 1rem;
   cursor: pointer;

   &-container {
      padding: 1rem;
   }

   &.selected {
      background-color: $blue-1;
      cursor: default;

      .subtext {
         color: $white;
      }

      .sidebar-settings-arrow {
         display: none;
      }
   }

   &:hover {
      .sidebar-settings-arrow {
         transform: translateX(0.25rem);
      }
   }
}