.sidebar-categories {
   &-container {
      padding: 0 1rem;
   }
}

.sidebar-categories-item {
   border-radius: 0.75rem;
   a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      cursor: pointer;
      text-decoration: none;

      &:hover {
         .sidebar-settings-arrow {
            transform: translateX(0.25rem);
         }
      }
   }

   &-icon {
      @mixin size 26px;
      margin-right: 0.75rem;
      border-radius: 0.5rem;

      svg {
         @mixin size 18px;
         stroke: $white;
      }

      &.bg-orange {
         background-color: darkorange;
      }

      &.bg-red {
         background-color: red;
      }
   }

   &.selected {
      background-color: $blue-1;

      a {
         cursor: default;
      }

      .sidebar-settings-arrow {
         display: none;
      }
   }
}