---
title: Вход
---

{{!< auth}}

<main class="h-screen flex-center flex-col space-y-4">
    <div class="text-center space-y-1">
        <p class="text-4xl">404</p>
        <p class="text-xl">Не туда попали</p>
    </div>
    <div class="flex-center">
        {{> link href="./index.hbs" children="Назад к чатам"}}
    </div>
</main>