---
title: Изменить пароль
sidebarProps:
    pageId: changePassword
---

{{!< base}}

<main class="settings-page change-password">
    <div class="settings-page-wrapper">
        <div class="flex-center flex-col w-full space-y-4">
            {{> form fields=changePassword.fields}}
            <a href="./index.hbs" class="flex-center">
                {{> button children="Сохранить"}}
            </a>
        </div>
    </div>
</main>