---
title: Предупреждение о выходе
sidebarProps:
    pageId: exitWarning
---

{{!< base}}

<main class="settings-page flex-center">
    <div class="flex-center flex-col space-y-2">
        <p class="text-xl">Вы уверены, что хотите выйти?</p>
        <div class="submit-container">
            <a href="./login.hbs" class="flex-center">
                {{> button classes="error" children="Выйти"}}
            </a>
        </div>
    </div>
</main>
