{{!< base}}

<main>
    <div class="h-screen flex-center">
        <div>
            <p>Выберите чат, чтобы отправить сообщение</p>
            <div class="flex-center space-x-2">
                {{> link href="./login.hbs" children="Вход"}}
                {{> link href="./registry.hbs" children="Регистрация"}}
                {{> link href="./404.hbs" children="404"}}
                {{> link href="./500.hbs" children="500"}}
            </div>
        </div>
    </div>
</main>
