---
title: Home page
sidebarProps:
    isSettings: false
---

{{!< base}}

<main>
    <div class="h-screen flex-center">
        <div>
            <p>Выберите чат, чтобы отправить сообщение</p>
            <div class="flex-center space-x-2">
                {{> link href="./login.hbs" children="Sign in"}}
                {{> link href="./registry.hbs" children="Sign up"}}
            </div>
        </div>
    </div>
</main>
