.chips-container {
   background-color: $blue-darken-5;
   border-radius: 0.5rem;
   padding: 1rem;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 0.5rem;
}

.chip {
   background-color: $blue-darken-2;
   box-shadow: 0 0 6px rgb(0 0 0 / 0.14);
   border-radius: 0.75rem;
   padding: 0.5rem 0.75rem;
   cursor: default;
}