.flex {
   display: flex;
}

.justify-center {
   justify-content: center;
}

.justify-between {
   justify-content: space-between;
}

.justify-end {
   justify-content: flex-end;
}

.items-center {
   align-items: center;
}

.flex-col {
   flex-direction: column;
}

.grow {
   flex-grow: 1;
}

.flex-center {
   @extend .flex;
   @extend .justify-center;
   @extend .items-center;
}