.w-full {
   width: 100%;
}

.w-screen {
   width: 100vw;
}

.w-10 {
   width: 40px;
}

.h-full {
   height: 100%;
}

.h-screen {
   height: 100vh;
}

.h-10 {
   height: 40px;
}

.h-92px {
   height: 92px;
}

.h-screen-with-header {
   height: calc(100vh - 69px) !important;
}