$white: #ffffff;
$white-1: rgba(255, 255, 255, 0.05);
$white-2: rgba(255, 255, 255, 0.35);
$black: #000000;
$black-1: rgba(0, 0, 0, 0.05);
$grey-1: #e5eaf1;
$grey-2: #cad0d9;
$grey-3: #B1C3D5;
$grey-4: #213040;
$grey-5: #EFEFEF;
$blue: #2EA6FF;
$blue-hover: #2b9ff5;
$blue-1: #3D6A97;
$blue-darken: #18222D;
$blue-darken-1: #0f6eab;
$blue-darken-2: rgb(51 65 85);
