.chat-messages {
   height: calc(100% - 69px - 61px);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   &-content {
      padding: 1rem;
      overflow-x: hidden;
      overflow-y: overlay;
      transition: color .3s ease;
      color: transparent;

      &::-webkit-scrollbar {
         width: 0.5rem;
         background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
         background-color: transparent;
         border-radius: 0.5rem;
         box-shadow: inset 0 0 0 10px;
      }

      &:hover {
         color: $white-2;
      }
   }
}

.chat-messages-item-date {
   width: fit-content;
   margin: 0 auto;
}