.chat-actions {
   height: 61px;
   border-top: 1px solid $blue-darken-2;

   & > div {
      padding: 0 1rem;
   }

   form {
      height: 100%;
      display: flex;
      align-items: center;
   }
}