<div class="card auth-card">
    <div class="card-content text-center">
        <h4 class="text-xl font-medium">{{props.title}}</h4>
        <div class="auth-card__form">
            {{> auth/authForm fields=props.fields}}
        </div>
        <div class="space-y-2">
            <a href="./index.hbs">
                {{> button children=props.button.children}}
            </a>
            {{> link href=props.link.href children=props.link.children}}
        </div>
    </div>
</div>