<div class="w-full h-full flex flex-col">
    <div class="sidebar-top border-bottom">
        <div class="w-full h-full flex-center">
            <h3 class="app-logo">Messenger</h3>
        </div>
    </div>
    <div class="grow">
        {{> sidebar/settings/profile }}
    </div>
    {{> sidebar/navigation props=props }}
</div>