<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="../assets/styles/style.css">
    {{#each css}}
        <link rel="stylesheet" href="../styles/{{this}}">
    {{/each}}
    <title>
        {{#if title}}
            Messenger: {{title}}
        {{else}}
            Messenger
        {{/if}}
    </title>
</head>
<body>
<div class="bg-img-container">
    <canvas class="bg-img" width="50" height="50"></canvas>
</div>
{{{body}}}
</body>
</html>
